<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Cadastro</title>

    <style>
        :root {
            --white: #fff;
            --gray-100: #e1e1e6;
            --gray-300: #c4c4cc;
            --gray-900: #121214;
            --green-300: #00b37e;
            --green-500: #00875f;

        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background: var(--gray-900);
            color: var(--gray-300);
            -webkit-fot-smoothing: antialiased;
            font-family: sans-serif;
            text-align: center;
        }

        main {
            display: flex;
            height: 100vh;
            align-items: center;
        }

        .wrapper {
            display: block;
            border: 1px solid var(--gray-300);
            width: 500px;
            margin: 0 auto;
            padding: 1rem;
        }

        h1 {
            margin-bottom: 1rem;
        }

        p {
            margin-bottom: 1rem;
            font-size: 1.5rem;
        }

        button {
            padding: 0.5rem 1rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            cursor: pointer;
            background-color: var(--green-300);
            color: var(--white);
            border: none;
            border-radius: 8px;
            font-size: 1.2rem;
        }

        button:hover {
            background-color: var(--green-500);
            transition: 0.5s;
        }
    </style>
</head>

<body>

    <main>
        <div class="wrapper">
            <h1><%= mensagem %></h1>
            <div>
                <p> <%= nome %></p>
                <p> <%= senha %></p>
            </div>
            <div>
                <a href="/login.html">
                    <button> Retornar</button>
                </a>
            </div>
        </div>
    </main>
</body>

</html>